extends ../layout

block content
    .col-sm-9#form(style="max-width: 100%;")
        hr
        h3(style="margin-top:10px") Eliminar función
        hr
        .card
            .card-body  
                form(method="POST", action="/seleccionar-pelicula")
                    .row
                        .col-sm-3
                            label Seleccione la sede
                            br
                            select(name='id_sede', class="form-control", id="id_sede")
                                -for(let i = 0; i < sede.length; i++)
                                    option(value=sede[i].id_sede) #{sede[i].ubicacion}
                        .col-sm-3
                        .col-sm-3
                        .col-sm-3
                            button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Seleccionar