extends ../layout


block content
    .col-sm-9#form(style="max-width: 100%;")
        hr
        h3 Crear combo 
        br
        .card
            .card-body  
                form(method="POST", action='/agregar-comida-combo')
                    .row
                        .col-sm-3
                            br
                            label Seleccione el combo 
                            br
                            select(name='id_combo', class="form-control", id="id_combo")
                                -for(let i = 0; i < Combo.length; i++)
                                    option(value=Combo[i].id_combo) #{Combo[i].nombre_combo}
                        .col-sm-3
                            label Seleccione los productos que desea agregar al combo 
                            br           
                            select(name='id_comida', class="form-control", id= 'id_comida')
                                -for(let i = 0; i < comida.length; i++)
                                    option(value = comida[i].id_comida) #{comida[i].nombre_comida}
                    .row
                        .col-sm-3
                            br
                            button.btn.btn-primary.btn-lg(type="submit") Seleccionar    
                                