extends ../layout


block content
    .col-sm-9#form(style="max-width: 100%;")
        hr
        h3 Agregar combo 
        br
        .card
            .card-body  
                form(method="POST", action='/agregarCombo')
                    .row
                        .col-sm-3
                            br
                            label Nombre del combo 
                            br
                            input(type='text', name="nombre_combo", id="nombre_combo",class="form-control")
                    .row
                        .col-sm-3
                            br
                            button.btn.btn-primary.btn-lg(type="submit") Agregar   
                                