extends layout

block content

  .main-container
    .row
      .col-md-6.col-md-offset-3
        h1 Agregar Película

        // register form
        form(method='POST' action='/agregarPelicula')
          div.form-group
            label(for='title') Título:
            input#title.form-control(type='text', placeholder='Titulo' name='title')
          div.form-group
            label(for='description') Descripción:
            input#description.form-control(type='text', placeholder='Descripción' name='description')
          button.btn.btn-primary(type='submit') Agregar
  
  