extends layout

block content

  .main-container
    .row
      .col-md-6.col-md-offset-3
        h2 AGREGAR PELÍCULA

        // register form
        form(method='POST' action='/createMovie')
          div.form-group
            label(for='titulo') Título:
            input(type='text', name="titulo", id="titulo",class="form-control")
          div.form-group
            label(for='descripcion') Descripción:
            input(type='text', id="descripcion", name='descripcion', class="form-control")
          div.form-group
            label(for='duracion_min') Duracion:
            input(type='number', placeholder = 'Minutos' name='duracion_min', id ='duracion_min', class='form-control')
          div.form-group
            label(for='genero') Genero:
            select(name='genero', class="form-control", id="genero")
              option(value="Accion") Accion
              option(value="Aventura") Aventura
              option(value="Drama") Drama
              option(value="D") D
          div.form-group
            label(for='fecha_estreno') Fecha de estreno:
            input(type='date',  name='fecha_estreno', id="fecha_estreno", class="form-control")
          button.btn.btn-primary(type='submit') Agregar
  
  