 //- extends layout  no se porque no me deja implementarlo pero SE DEBE PONER 
 
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

.container-fluid
  h1 Administrar sitio 
  
  .row
    .col(style='background-color:white;')
      .list-group
        a.list-group-item.list-group-item-action.active(href='#')
          | Sede
        a.list-group-item.list-group-item-action(href='AgregarSede') Agregar nueva sede 
        a.list-group-item.list-group-item-action(href='#') Modificar Sede 
    .col(style='background-color:white;')
      .list-group
        a.list-group-item.list-group-item-action.active(href='#')
          | Película 
        a.list-group-item.list-group-item-action(href='#') Agregar película
        a.list-group-item.list-group-item-action(href='#') Mofificar pelicula 
    .col(style='background-color:white;')
      .list-group
        a.list-group-item.list-group-item-action.active(href='#')
          | Confiteria y combos
        a.list-group-item.list-group-item-action(href='#') Agregar Producto
        a.list-group-item.list-group-item-action(href='#') Eliminar Producto 
        a.list-group-item.list-group-item-action(href='#') Crear combo
        a.list-group-item.list-group-item-action(href='#') Eliminar combo
