extends layout

block content
  .container-fluid
    h2 ADMINISTRAR SITIO
    
    .row
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Sede
          a.list-group-item.list-group-item-action(href='AgregarSede') Agregar nueva sede 
          a.list-group-item.list-group-item-action(href='ModificarSede') Modificar Sede 
          a.list-group-item.list-group-item-action(href='AgregarSala') Agregar sala 
          a.list-group-item.list-group-item-action(href='EliminarSala') Eliminar sala 
          a.list-group-item.list-group-item-action(href='ModificarSala') Modificar sala  
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Sala
          a.list-group-item.list-group-item-action(href='agregar-sala') Agregar sala
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Película 
          a.list-group-item.list-group-item-action(href='/agregar-pelicula') Agregar película
          a.list-group-item.list-group-item-action(href='/get-peliculas') Lista de películas
          a.list-group-item.list-group-item-action(href='/modificar-pelicula') Modificar película 
          a.list-group-item.list-group-item-action(href='/eliminar-pelicula') Eliminar película 
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Confiteria y combos
          a.list-group-item.list-group-item-action(href='/agregar-comida') Agregar Comida
          a.list-group-item.list-group-item-action(href='#') Eliminar Comida
          a.list-group-item.list-group-item-action(href='#') Crear combo
          a.list-group-item.list-group-item-action(href='#') Eliminar combo
