extends layout

block content
  .container-fluid
    .row(style = 'margin-top: 15px; margin-bottom: 15px')
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Sede
          a.list-group-item.list-group-item-action(href='/agregar-sede') Agregar nueva sede 
          a.list-group-item.list-group-item-action(href='/lista-sedes') Visualizar Sedes
          a.list-group-item.list-group-item-action(href='/modificar-sede') Modificar Sede 
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Sala
          a.list-group-item.list-group-item-action(href='agregar-sala') Agregar sala
          a.list-group-item.list-group-item-action(href='visualizar-salas') Ver salas por sede
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Película 
          a.list-group-item.list-group-item-action(href='/agregar-pelicula') Agregar película
          a.list-group-item.list-group-item-action(href='/get-peliculas') Lista de películas
          a.list-group-item.list-group-item-action(href='/modificar-pelicula') Modificar película 
          a.list-group-item.list-group-item-action(href='/eliminar-pelicula') Eliminar película
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Confiteria y combos
          a.list-group-item.list-group-item-action(href='agregar-comida') Agregar Comida
          a.list-group-item.list-group-item-action(href='eliminar-comida') Eliminar Comida
          a.list-group-item.list-group-item-action(href='agregar-combo') Crear combo
          a.list-group-item.list-group-item-action(href='eliminar-combo') Eliminar combo
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Repertorio por sede
          a.list-group-item.list-group-item-action(href='/agregar-repertorio') Agregar película a repertorio
          a.list-group-item.list-group-item-action(href='/seleccionar-repertorio') Eliminar película de repertorio
          a.list-group-item.list-group-item-action(href='/visualizar-repertorios') Ver repertorio por sede
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Funciones por sede
          a.list-group-item.list-group-item-action(href='/seleccionar-sede') Agregar función a sede
          a.list-group-item.list-group-item-action(href='/select-funcion-sede') Eliminar función de sede
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Generales
          a.list-group-item.list-group-item-action(href='/agregar-idioma') Agregar idioma
          a.list-group-item.list-group-item-action(href='/agregar-censura') Agregar censura
          a.list-group-item.list-group-item-action(href='agregar-genero') Agregar genero
          a.list-group-item.list-group-item-action(href='agregar-tipo-formato') Agregar tipo de formato
          a.list-group-item.list-group-item-action(href='agregar-tipo-sala') Agregar tipo de sala
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Ventas

