extends layout

block content

  .main-container
    .row
      .col-md-6.col-md-offset-3
        h2 AGREGAR COMIDA
        h3.letra OPCIONES
        // register form
        form(method='POST' action='/createComida')
          div.form-group
            label(for='nombre_comida') Nombre de la comida:
            input(type='text', name="nombre_comida", id="nombre_comida",class="form-control")
            button.btn.btn-primary(type='submit') Agregar
        
 
          // register form
          .list-group
            label.list-group-item.list-group-item-action(href='#') Combo Duo
            label.list-group-item.list-group-item-action(href='#') Mega Combo
            label.list-group-item.list-group-item-action(href='#') Tequeños
            label.list-group-item.list-group-item-action(href='#') Perros Calientes
            label.list-group-item.list-group-item-action(href='#') Refrescos
          
          style.
            h3{
              float: right;
              margin-right: 195px;
              margin-top: -3%;
            }
            
            button{
              margin-top: 1%;
            }

            div{
              display: block;
              width: 2700px;;
            }
            .list-group{
              float: right;
              width: 40%;;
              text-align: center;
              margin-top: -115px;
              

            }
            .list-group label {
              margin-top: 1%;
              text-align: center;
              font-size: 1.2em;
            }

            .form-group{
              display : block;
              width: 40%;
            }
            
            .list-group label:hover{
              background: #007bff;
              color: white;
            }

            .form-group label {
              font-size: 1.1em;
            }
