extends layout

block content

  .main-container
    .row
      .col-md-6.col-md-offset-3
        h2 AGREGAR COMIDA
   
        // register form
        form(method='POST' action='/createComida')
          div.form-group
            label(for='nombre_comida') Nombre de la comida:
            input(type='text', name="nombre_comida", id="nombre_comida",class="form-control")
            button.btn.btn-primary(type='submit') Agregar

            style.
            
              button {

                margin: 1%;

              }
            
        
 
          
