extends layout 

block content

    style.
        div.gallery {
        border: 1px solid #ccc;
        }
        div.gallery:hover {
        border: 1px solid #777;
        }
        div.gallery img {
        width: 100%;
        height: auto;
        }
        div.desc {
        padding: 15px;
        text-align: center;
        }
        * {
        box-sizing: border-box;
        }
        .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
        }
        @media only screen and (max-width: 700px) {
        .responsive {
        width: 49.99999%;
        margin: 6px 0;
        }
        }
        @media only screen and (max-width: 500px) {
        .responsive {
        width: 100%;
        }
        }
        .clearfix:after {
        content: "";
        display: table;
        clear: both;
        }
    h2 seleccione su sede 
    .responsive
    .gallery
        a(target='_blank' href='img_5terre.jpg')
        img(src='#' alt='paseo el hatillo' width='100' height='100')
        .desc prueba esto se debe hacer con un ngfor ? 
    .responsive
    .gallery
        a(target='los naranjos' href='img_forest.jpg')
        img(src='img_forest.jpg' alt='los naranjos' width='600' height='400')
        .desc Add a description of the image here
    .responsive
    .gallery
        a(target='el recreo' href='img_lights.jpg')
        img(src='img_lights.jpg' alt='El Recreo' width='600' height='400')
        .desc Add a description of the image here
    .responsive
    .gallery
        a(target='tolon' href='img_mountains.jpg')
        img(src='img_mountains.jpg' alt='Tolon' width='600' height='400')
        .desc Add a description of the image here
    .clearfix
    div(style='padding:6px;')
    

