extends layout

block content
  
    h3 bienvenido 
    a.btn.btn-outline-primary.btn-lg(href='administrar') Administrar 
    a.btn.btn-outline-primary.btn-lg(href='#') compra de boletos 
    a.btn.btn-outline-primary.btn-lg(href='#') compra de combos 
    
 

     