extends layout

block content

    a.btn.btn-outline-primary.btn-lg(href='administrar', style="margin-left: 10px; margin-top: 10px;") Administrar 
    a.btn.btn-outline-primary.btn-lg(href='catalogocines', style="margin-left: 10px; margin-top: 10px;") Compra de boletos 
    a.btn.btn-outline-primary.btn-lg(href='#', style="margin-left: 10px; margin-top: 10px;") Compra de comida
    
 

     