extends layout

block content

    a.btn.btn-outline-primary.btn-lg(href='administrar') Administrar 
    a.btn.btn-outline-primary.btn-lg(href='#') Compra de boletos 
    a.btn.btn-outline-primary.btn-lg(href='#') Compra de comida
    
 

     