extends layout

block content

    .col-sm-9#form
        h3 ACTUALIZAR SEDE
        hr
        br
        .card
            .card-body
                form(method="POST", action="/modificarSede" )
                    .row
                        .col-sm-3
                            label Sede a modificar
                            br
                            select(name='nombreFiscal', class="form-control", id="titulo")
                                //- -for(let i = 0; i < pelicula.length; i++)
                                    //-option(value=pelicula[i].titulo) #{pelicula[i].titulo}
                        .col-sm-3
                            label Nombre fiscal 
                            br
                            input(type="text", name="nombreFiscal ", id="nombreFiscal", class="form-control")
                        .col-sm-3
                            label Ubicacion 
                            br
                            input(type="text", name="ubicacion", id="ubicacion", class="form-control")
                        .col-sm-3
                            label Horario Laboral
                            br
                            label inicio de jornada 
                            br
                            input(type="time", name="inicio", id="inicio", class="form-control")
                        .col-sm-3
                            label fin de jornada
                            br
                            input(type="time", name="final", id="final", class="form-control")
                           
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Eliminar Sede
                    br
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Actualizar