extends ../layout

block content
    .col-sm-9#form(style="max-width: 100%;")
        .card
            .card-body  
                form(method="POST", action="/compraComida")
                    label Comidas
                    br        
                    .row                       
                        -for(let i = 0; i < comida.length; i++)
                            .col-sm-3
                                button.btn.btn-primary.btn-lg(type="submit", style="position:relative;     height: 180px;", name="id_comida", id="id_comida", class="form-control") 
                                    p #{comida[i].nombre_comida} 
    br
    .col-sm-9#form(style="max-width: 100%;")
        .card
            .card-body  
                form(method="POST", action="/compraComida")
                    label Combos
                    br        
                    .row                       
                        -for(let i = 0; i < Combo.length; i++)
                            .col-sm-3
                                button.btn.btn-primary.btn-lg(type="submit", style="position:relative;     height: 180px;", name="id_combo", id="id_combo", class="form-control") 
                                    p #{Combo[i].nombre_combo}