extends ../layout

block content

    .col-sm-9#form
        h3 MODIFICAR SEDE
        hr
        br
        .card
            .card-body
                form(method="POST", action="/updateSede" )
                    .row
                        .col-sm-3
                            label Sede a modificar
                            br
                            select(name='id_sede', class="form-control", id="id_sede")
                                -for(let i = 0; i < sede.length; i++)
                                    option(value=sede[i].id_sede) #{sede[i].ubicacion}
                        .col-sm-3
                            label Hora de Apertura
                            br
                            input(type="time", name="horario_apertura", id="horario_apertura", class="form-control")
                        .col-sm-3
                            label Hora de Cierre
                            br
                            input(type="time", name="horario_cierre", id="horario_cierre", class="form-control")
                       
                        br
                        button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:5%;" ) Actualizar