extends ../layout

block content

  .main-container
    .row
      .col-md-6.col-md-offset-3
        h2 AGREGAR TIPO DE SALA

        // register form
        form(method='POST' action='/agregarTipoSala')
            div.form-group
                label(for='tipo_sala') Tipo de sala
                input(type='text', name="tipo_sala", id="tipo_sala",class="form-control")
            
            button.btn.btn-primary(type='submit') Agregar
  