extends ../layout

block content
    .col-sm-9#form
        h3 AGREGAR SALA
        hr
        br
        .card
            .card-body  
                form(method="POST", action="/agregarSala" )
                    .row
                        .col-sm-3
                            label Seleccione la sede
                            br
                            select(name='id_sede', class="form-control", id="id_sede")
                                -for(let i = 0; i < sede.length; i++)
                                    option(value=sede[i].id_sede) #{sede[i].ubicacion}
                        .col-sm-3
                            label Número de sala
                            br
                            input(type="number", name="id_sala", id="id_sala", class="form-control", min="1")
                        .col-sm-3
                            label Tecnología de la sala
                            br           
                            input(type="number", name="id_formato", id="id_formato", class="form-control",min="1", max="5")
                            p(style="font-size: 10px") 1) Normal
                            p(style="font-size: 10px") 2) 3D
                            p(style="font-size: 10px") 3) 4D
                            p(style="font-size: 10px") 4) IMAX
                            p(style="font-size: 10px") 5) ATMOS
                        .col-sm-3
                            label Tipo de sala
                            br
                            input(type="number", name="id_tipo_sala", id="id_tipo_sala", class="form-control",min="1", max="2")
                            p(style="font-size: 10px") 1) Normal
                            p(style="font-size: 10px") 2) Premium
                        .col-sm-3
                            label Cantidad de pasillos
                            br
                            input(type="number", name="cant_pasillos", id="cant_pasillos", class="form-control", min="1", max="5")
                        .col-sm-3
                            label Cantidad de entradas
                            br
                            input(type="number", name="cant_entradas", id="cant_entradas", class="form-control", min="1", max="2")
                        .col-sm-3
                            label Cantidad de salidas
                            br
                            input(type="number", name="cant_salidas", id="cant_salidas", class="form-control", min="1", max="3")
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Agregar