extends ../layout

block content
  .col-sm-9#form(style="max-width: 100%;")
      hr
      h3(style="margin-top:10px") Agregar Censura
      hr
      .card
        .card-body
            form(method='POST' action='/agregarCensura')
                .row
                    .col-sm-3
                        input(type='text', name="censura", id="censura",class="form-control")
                br
                button.btn.btn-primary(type='submit') Agregar