extends ../layout

block content

  .main-container
    .row
      .col-md-6.col-md-offset-3
        h2 AGREGAR GENERO

        // register form
        form(method='POST' action='/agregarGenero')
            div.form-group
                label(for='id_genero') ID genero
                input(type='number', name="id_genero", id="id_genero",class="form-control")
            div.form-group
                label(for='tipo_genero') Genero
                input(type='text', name="tipo_genero", id="tipo_genero",class="form-control")
            
            button.btn.btn-primary(type='submit') Agregar
  