extends ../layout

block content

    .col-sm-9#form
        h3 ACTUALIZAR PELÍCULA
        hr
        br
        .card
            .card-body
                form(method="POST", action="/updateMovie" )
                    .row
                        .col-sm-3
                            label Película a modificar
                            br
                            select(name='id_pelicula', class="form-control", id="id_pelicula")
                                -for(let i = 0; i < pelicula.length; i++)
                                    option(value=pelicula[i].id_pelicula) #{pelicula[i].titulo}
                        .col-sm-3
                            label Descripción
                            br
                            input(type="text", name="descripcion", id="descripcion", class="form-control")
                        .col-sm-3
                            label Duración
                            br
                            input(type="number", name="duracion_min", id="duracion_min", class="form-control")
                        .col-sm-3
                            label(for= 'id_genero') Género:
                            br
                            select(name='id_genero', class="form-control", id="id_genero", class="form-control")
                                option(value="1") Acción
                                option(value="2") Aventura
                                option(value="3") Animación
                                option(value="4") Comedia
                                option(value="5") Drama
                                option(value="6") Terror
                                option(value="7") Suspenso
                                option(value="8") Ciencia Ficción
                        .col-sm-3
                            br
                            label Fecha de estreno
                            br
                            input(type="date", name="fecha_estreno", id="fecha_estreno", class="form-control")
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Actualizar