extends ../layout

block content
    .col-sm-9#form(style="max-width: 100%;")
        .card
            .card-body  
                form(method="POST", action="/select-butacas")
                    label Seleccione la función
                    br        
                    .row                       
                        -for(let i = 0; i < funciones.length; i++)
                            .col-sm-3
                                button.btn.btn-primary.btn-lg(type="submit", style="position:relative;     height: 180px;", value = funciones[i].id_funcion, name="id_funcion", id="id_funcion", class="form-control") 
                                    p Fecha: #{funciones[i].fecha} 
                                    p Hora: #{funciones[i].hora_inicio} 
                                    p Sala: #{funciones[i].sala.sala}